In [1]:
import pandas as pd

df = pd.read_csv('pokemon.csv')
df

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [2]:
df.iloc[:5]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [3]:
df.iloc[-5:, 0:5]

,abilities,against_bug,against_dark,against_dragon,against_electric
796,['Beast Boost'],0.25,1.0,0.5,2.0
797,['Beast Boost'],1.00,1.0,0.5,0.5
798,['Beast Boost'],2.00,0.5,2.0,0.5
799,['Prism Armor'],2.00,2.0,1.0,1.0
800,['Soul-Heart'],0.25,0.5,0.0,1.0

In [4]:
df.iloc[[0, 100, 700], [30, 40]]

          name  is_legendary
0    Bulbasaur             0
100  Electrode             0
700   Hawlucha             0

In [5]:
df.loc[[0, 100, 700], ['name', 'is_legendary', 'type1', 'type2']]

          name  is_legendary     type1   type2
0    Bulbasaur             0     grass  poison
100  Electrode             0  electric     NaN
700   Hawlucha             0  fighting  flying

In [6]:
df['is_legendary'] == 1

0      False
1      False
2      False
3      False
4      False
       ...
796     True
797     True
798     True
799     True
800     True
Name: is_legendary, Length: 801, dtype: bool

In [7]:
df.loc[df['is_legendary'] == 1]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
143,"['Pressure', 'Snow Cloak']",0.50,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,...,NaN,144,95,125,85,ice,flying,55.4,1,1
144,"['Pressure', 'Static']",0.50,1.0,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,NaN,145,125,90,100,electric,flying,52.6,1,1
145,"['Pressure', 'Flame Body']",0.25,1.0,1.0,2.0,0.5,0.5,0.5,1.0,1.0,...,NaN,146,125,85,90,fire,flying,60.0,1,1
149,"['Pressure', 'Unnerve']",2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,150,194,120,140,psychic,NaN,122.0,1,1
150,['Synchronize'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,151,100,100,100,psychic,NaN,4.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [8]:
df['generation'] == 1

0       True
1       True
2       True
3       True
4       True
       ...
796    False
797    False
798    False
799    False
800    False
Name: generation, Length: 801, dtype: bool

In [9]:
df.loc[df['generation'] == 1]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,"['Shed Skin', 'Marvel Scale']",1.0,1.0,2.0,0.5,2.0,1.0,0.5,1.0,1.0,...,50.0,147,50,50,50,dragon,NaN,3.3,1,0
147,"['Shed Skin', 'Marvel Scale']",1.0,1.0,2.0,0.5,2.0,1.0,0.5,1.0,1.0,...,50.0,148,70,70,70,dragon,NaN,16.5,1,0
148,"['Inner Focus', 'Multiscale']",0.5,1.0,2.0,1.0,2.0,0.5,0.5,1.0,1.0,...,50.0,149,100,100,80,dragon,flying,210.0,1,0
149,"['Pressure', 'Unnerve']",2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,150,194,120,140,psychic,NaN,122.0,1,1
150,['Synchronize'],2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,151,100,100,100,psychic,NaN,4.0,1,1

In [10]:
df.loc[df['generation'] <= 2]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,['Shed Skin'],1.00,1.0,1.0,0.0,1.0,2.00,0.5,0.5,1.0,...,50.0,247,65,70,51,rock,ground,152.0,2,0
247,"['Sand Stream', 'Unnerve']",2.00,0.5,1.0,1.0,2.0,4.00,0.5,0.5,0.5,...,50.0,248,95,120,71,rock,dark,202.0,2,0
248,"['Pressure', 'Multiscale']",1.00,2.0,1.0,2.0,1.0,0.25,1.0,1.0,2.0,...,NaN,249,90,154,110,psychic,flying,216.0,2,1
249,"['Pressure', 'Regenerator']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,NaN,250,110,154,90,fire,flying,199.0,2,1
250,['Natural Cure'],4.00,2.0,1.0,0.5,1.0,0.50,2.0,2.0,2.0,...,NaN,251,100,100,100,psychic,grass,5.0,2,1

In [11]:
df.loc[(df['generation'] <= 2) & (df['is_legendary'] == 1)]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
143,"['Pressure', 'Snow Cloak']",0.50,1.0,1.0,2.0,1.0,1.00,2.0,1.0,1.0,...,NaN,144,95,125,85,ice,flying,55.4,1,1
144,"['Pressure', 'Static']",0.50,1.0,1.0,1.0,1.0,0.50,1.0,0.5,1.0,...,NaN,145,125,90,100,electric,flying,52.6,1,1
145,"['Pressure', 'Flame Body']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,NaN,146,125,85,90,fire,flying,60.0,1,1
149,"['Pressure', 'Unnerve']",2.00,2.0,1.0,1.0,1.0,0.50,1.0,1.0,2.0,...,NaN,150,194,120,140,psychic,NaN,122.0,1,1
150,['Synchronize'],2.00,2.0,1.0,1.0,1.0,0.50,1.0,1.0,2.0,...,NaN,151,100,100,100,psychic,NaN,4.0,1,1
242,"['Pressure', 'Inner Focus']",1.00,1.0,1.0,0.5,1.0,1.00,1.0,0.5,1.0,...,NaN,243,115,100,115,electric,NaN,178.0,2,1
243,"['Pressure', 'Inner Focus']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,NaN,244,90,75,100,fire,NaN,198.0,2,1
244,"['Pressure', 'Inner Focus']",1.00,1.0,1.0,2.0,1.0,1.00,0.5,1.0,1.0,...,NaN,245,90,115,85,water,NaN,187.0,2,1
248,"['Pressure', 'Multiscale']",1.00,2.0,1.0,2.0,1.0,0.25,1.0,1.0,2.0,...,NaN,249,90,154,110,psychic,flying,216.0,2,1
249,"['Pressure', 'Regenerator']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,NaN,250,110,154,90,fire,flying,199.0,2,1
250,['Natural Cure'],4.00,2.0,1.0,0.5,1.0,0.50,2.0,2.0,2.0,...,NaN,251,100,100,100,psychic,grass,5.0,2,1

In [12]:
df.loc[(df['generation'] <= 2) & (df['is_legendary'] == 1), ['name', 'type1', 'type2', 'generation', 'is_legendary']]

         name     type1   type2  generation  is_legendary
143  Articuno       ice  flying           1             1
144    Zapdos  electric  flying           1             1
145   Moltres      fire  flying           1             1
149    Mewtwo   psychic     NaN           1             1
150       Mew   psychic     NaN           1             1
242    Raikou  electric     NaN           2             1
243     Entei      fire     NaN           2             1
244   Suicune     water     NaN           2             1
248     Lugia   psychic  flying           2             1
249     Ho-Oh      fire  flying           2             1
250    Celebi   psychic   grass           2             1

In [13]:
df.loc[(df['generation'] <= 2) & (df['is_legendary'] == 1), ['name', 'type1', 'type2']]

         name     type1   type2
143  Articuno       ice  flying
144    Zapdos  electric  flying
145   Moltres      fire  flying
149    Mewtwo   psychic     NaN
150       Mew   psychic     NaN
242    Raikou  electric     NaN
243     Entei      fire     NaN
244   Suicune     water     NaN
248     Lugia   psychic  flying
249     Ho-Oh      fire  flying
250    Celebi   psychic   grass

In [14]:
df.loc[(df['generation'] == 1) | (df['is_legendary'] == 1), ['name', 'type1', 'type2']]

           name    type1   type2
0     Bulbasaur    grass  poison
1       Ivysaur    grass  poison
2      Venusaur    grass  poison
3    Charmander     fire     NaN
4    Charmeleon     fire     NaN
..          ...      ...     ...
796  Celesteela    steel  flying
797     Kartana    grass   steel
798    Guzzlord     dark  dragon
799    Necrozma  psychic     NaN
800    Magearna    steel   fairy

[216 rows x 3 columns]

In [15]:
generation = int(input('Type in pokemon generation: '))
df.loc[(df['generation'] == generation) & (df['is_legendary'] == 1), ['name', 'type1', 'type2']]

Type in pokemon generation: 2

        name     type1   type2
242   Raikou  electric     NaN
243    Entei      fire     NaN
244  Suicune     water     NaN
248    Lugia   psychic  flying
249    Ho-Oh      fire  flying
250   Celebi   psychic   grass

In [16]:
df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [17]:
against_columns = [col for col in df if col.startswith('against')]
against_columns

['against_bug',
 'against_dark',
 'against_dragon',
 'against_electric',
 'against_fairy',
 'against_fight',
 'against_fire',
 'against_flying',
 'against_ghost',
 'against_grass',
 'against_ground',
 'against_ice',
 'against_normal',
 'against_poison',
 'against_psychic',
 'against_rock',
 'against_steel',
 'against_water']

In [20]:
df.loc[df['generation'] == 1, against_columns]

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,against_ground,against_ice,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water
0,1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5
1,1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5
2,1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5
3,0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,2.0,0.5,1.0,1.0,1.0,2.0,0.5,2.0
4,0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,2.0,0.5,1.0,1.0,1.0,2.0,0.5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,1.0,1.0,2.0,0.5,2.0,1.0,0.5,1.0,1.0,0.50,1.0,2.0,1.0,1.0,1.0,1.0,1.0,0.5
147,1.0,1.0,2.0,0.5,2.0,1.0,0.5,1.0,1.0,0.50,1.0,2.0,1.0,1.0,1.0,1.0,1.0,0.5
148,0.5,1.0,2.0,1.0,2.0,0.5,0.5,1.0,1.0,0.25,0.0,4.0,1.0,1.0,1.0,2.0,1.0,0.5
149,2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0
150,2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0

In [21]:
df.loc[df['generation'] == 1, against_columns].describe()

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,against_ground,against_ice,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,0.905629,1.066225,0.980132,1.158940,0.917219,0.953642,1.036424,1.168874,0.966887,1.147351,1.168874,1.160596,0.937086,0.899007,1.218543,1.271523,0.937086,1.109272
std,0.572088,0.349645,0.237212,0.693712,0.380484,0.560062,0.620750,0.573403,0.508818,0.970941,0.722582,0.637929,0.194119,0.401226,0.501917,0.720498,0.412531,0.750320
min,0.250000,0.500000,0.000000,0.000000,0.500000,0.000000,0.250000,0.250000,0.000000,0.250000,0.000000,0.250000,0.000000,0.000000,0.500000,0.500000,0.250000,0.500000
25%,0.500000,1.000000,1.000000,0.750000,0.500000,0.500000,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,1.000000,0.500000,1.000000,1.000000,0.500000,0.500000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
max,4.000000,2.000000,2.000000,4.000000,2.000000,2.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,1.000000,2.000000,2.000000,4.000000,2.000000,4.000000

In [22]:
df.loc[df['generation'] == 1, against_columns].mean()

against_bug         0.905629
against_dark        1.066225
against_dragon      0.980132
against_electric    1.158940
against_fairy       0.917219
against_fight       0.953642
against_fire        1.036424
against_flying      1.168874
against_ghost       0.966887
against_grass       1.147351
against_ground      1.168874
against_ice         1.160596
against_normal      0.937086
against_poison      0.899007
against_psychic     1.218543
against_rock        1.271523
against_steel       0.937086
against_water       1.109272
dtype: float64

In [23]:
df.loc[df['generation'] == 1, against_columns].mean().sort_values()

against_poison      0.899007
against_bug         0.905629
against_fairy       0.917219
against_normal      0.937086
against_steel       0.937086
against_fight       0.953642
against_ghost       0.966887
against_dragon      0.980132
against_fire        1.036424
against_dark        1.066225
against_water       1.109272
against_grass       1.147351
against_electric    1.158940
against_ice         1.160596
against_flying      1.168874
against_ground      1.168874
against_psychic     1.218543
against_rock        1.271523
dtype: float64

In [24]:
df.loc[df['generation'] == 1, against_columns].mean().sort_values(ascending=False)

against_rock        1.271523
against_psychic     1.218543
against_flying      1.168874
against_ground      1.168874
against_ice         1.160596
against_electric    1.158940
against_grass       1.147351
against_water       1.109272
against_dark        1.066225
against_fire        1.036424
against_dragon      0.980132
against_ghost       0.966887
against_fight       0.953642
against_normal      0.937086
against_steel       0.937086
against_fairy       0.917219
against_bug         0.905629
against_poison      0.899007
dtype: float64

In [26]:
df[['name', 'attack', 'is_legendary', 'capture_rate']]

           name  attack  is_legendary capture_rate
0     Bulbasaur      49             0           45
1       Ivysaur      62             0           45
2      Venusaur     100             0           45
3    Charmander      52             0           45
4    Charmeleon      64             0           45
..          ...     ...           ...          ...
796  Celesteela     101             1           25
797     Kartana     181             1          255
798    Guzzlord     101             1           15
799    Necrozma     107             1            3
800    Magearna      95             1            3

[801 rows x 4 columns]

In [30]:
df[['name', 'attack', 'is_legendary', 'capture_rate']].sort_values(['attack'], ascending=False).head(10)

          name  attack  is_legendary capture_rate
213  Heracross     185             0           45
797    Kartana     181             1          255
382    Groudon     180             1            3
383   Rayquaza     180             1           45
444   Garchomp     170             0           45
408  Rampardos     165             0           45
353    Banette     165             0           45
474    Gallade     165             0           45
247  Tyranitar     164             0           45
288    Slaking     160             0           45

In [31]:
df[['name', 'attack', 'is_legendary', 'capture_rate']].sort_values(['attack'], ascending=False).tail(10)

         name  attack  is_legendary capture_rate
297   Azurill      20             0          150
62       Abra      20             0          200
164    Ledyba      20             0          255
457   Mantyke      20             0           25
348    Feebas      15             0          255
241   Blissey      10             0           30
128  Magikarp      10             0          255
212   Shuckle      10             0          190
439   Happiny       5             0          130
112   Chansey       5             0           30

In [32]:
df[['name', 'attack', 'is_legendary', 'capture_rate']].sort_values(['attack'], ascending=False)

          name  attack  is_legendary capture_rate
213  Heracross     185             0           45
797    Kartana     181             1          255
382    Groudon     180             1            3
383   Rayquaza     180             1           45
444   Garchomp     170             0           45
..         ...     ...           ...          ...
241    Blissey      10             0           30
128   Magikarp      10             0          255
212    Shuckle      10             0          190
439    Happiny       5             0          130
112    Chansey       5             0           30

[801 rows x 4 columns]

In [37]:
df2 = df[['name', 'attack', 'is_legendary', 'capture_rate']].sort_values(['attack'], ascending=False)
df2['is_legendary'] = df2['is_legendary'].replace([1, 0], ['Yes', 'No'])

In [39]:
df2.head(10)

          name  attack is_legendary capture_rate
213  Heracross     185           No           45
797    Kartana     181          Yes          255
382    Groudon     180          Yes            3
383   Rayquaza     180          Yes           45
444   Garchomp     170           No           45
408  Rampardos     165           No           45
353    Banette     165           No           45
474    Gallade     165           No           45
247  Tyranitar     164           No           45
288    Slaking     160           No           45

In [48]:
df.groupby('generation')[['attack', 'defense', 'hp']].mean()

               attack    defense         hp
generation
1           74.529801  70.079470  64.344371
2           69.960000  71.790000  70.980000
3           77.185185  72.637037  65.666667
4           82.672897  76.168224  73.102804
5           80.557692  71.961538  70.314103
6           76.527778  73.555556  71.111111
7           84.637500  78.012500  70.575000

In [49]:
df.groupby('type1')[['attack', 'defense', 'hp']].mean()

              attack     defense         hp
type1
bug        70.125000   70.847222  56.722222
dark       87.793103   70.517241  72.551724
dragon    106.407407   86.259259  79.851852
electric   70.820513   61.820513  60.512821
fairy      62.111111   68.166667  73.944444
fighting   99.178571   66.392857  71.428571
fire       81.500000   67.788462  68.730769
flying     66.666667   65.000000  68.000000
ghost      72.740741   79.518519  63.370370
grass      73.769231   70.871795  65.358974
ground     94.812500   83.906250  73.187500
ice        73.304348   71.913043  72.086957
normal     75.161905   59.695238  76.723810
poison     72.656250   70.031250  65.593750
psychic    65.566038   69.264151  72.943396
rock       90.666667   96.266667  66.333333
steel      93.083333  120.208333  66.791667
water      73.307018   73.482456  70.219298

In [84]:
pokemon_name = 'Magikarp'
df3 = df.loc[df['name'] == pokemon_name][['name', 'type1', 'type2']]
df3

         name  type1 type2
128  Magikarp  water   NaN

In [85]:
type1 = df3['type1'].iloc[0]
type1

'water'

In [86]:
type2 = df3['type2'].iloc[0]
type2

nan

In [87]:
if pd.isna(type2):
    df4 = df.loc[(df[f'against_{type1}'] < 1) & (df['name'] != pokemon_name), ['name', f'against_{type1}']]
else:
    df4 = df.loc[((df[f'against_{type1}'] < 1) | (df[f'against_{type2}'] < 1)) & (df['name'] != pokemon_name), ['name', f'against_{type1}', f'against_{type2}']]
    
df4

          name  against_water
0    Bulbasaur            0.5
1      Ivysaur            0.5
2     Venusaur            0.5
6     Squirtle            0.5
7    Wartortle            0.5
..         ...            ...
783    Kommo-o            0.5
786  Tapu Bulu            0.5
787  Tapu Fini            0.5
797    Kartana            0.5
798   Guzzlord            0.5

[233 rows x 2 columns]